{
  "CN": "kubernetes",
  "hosts": [
    "127.0.0.1",
    {% for host in groups['ikube_master'] %}
    "{{ host }}",
    {% endfor %}
    "{{ cluster_kubernetes_svc_ip }}",
    {% for host in master_cert_hosts %}
    "{{ host }}",
    {% endfor %}
    "{{ kube_apiserver_lb_addr }}",
    "kubernetes",
    "kubernetes.default",
    "kubernetes.default.svc",
    "kubernetes.default.svc.cluster",
    "kubernetes.default.svc.cluster.local"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "CN",
      "ST": "BeiJing",
      "L": "BeiJing",
      "O": "k8s",
      "OU": "System"
    }
  ]
}